<footer class="my-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'blog:blog' %}" class="nav-link px-2 text-body-secondary">Главная</a></li>
        <li class="nav-item"><a href="{% url 'blog:articles' %}" class="nav-link px-2 text-body-secondary">Статьи</a></li>
        <li class="nav-item"><a href="/contacts/" class="nav-link px-2 text-body-secondary">О нас</a></li>
    </ul>
    <p class="text-center text-body-secondary">Django homeworks project</p>
</footer>