<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <!-- Для отладки удалить позже-->
    <p>Количество статей {{blog.count}}</p>
    <!-- Для отладки удалить позже-->

    {% for article in blog %}

    <div class="col d-flex">
        <div class="card shadow-sm h-100 w-100">

            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ article.title }}</h4>
            </div>

            <div class="img-wrapper">
                {% if article.preview %}
                <img src="{{ article.preview.url }}"
                     alt="{{ particle.title }}"
                     class="card-img-top product-image"
                     loading="lazy">
                {% else %}
                <div class="placeholder-image d-flex align-items-center justify-content-center">
                    <span class="text-white">Нет фото</span>
                </div>
                {% endif %}
            </div>

            <div class="card-body d-flex flex-column">
                <p class="card-text flex-grow-1">
                    {{ article.content|default:"Текст статьи отсутствует"|truncatechars:100 }}
                </p>
                <p class="card-text"><small class="text-body-secondary">Опубликована: {{article.created_at|date:'d M Y'}}</small></p>


                <div class="d-flex justify-content-between align-items-center mt-auto">
                    <div class="btn-group w-100">
                        <a href="{% url 'blog:article_details' article.pk %}"
                           class="btn btn-outline-primary flex-grow-1 me-2">Читать</a>
                        <a href="{% url 'blog:article_edit' article.pk %}"
                           class="btn btn-outline-primary flex-grow-1 me-2">Редактировать</a>
                    </div>
                </div>
                <p class="card-text"><small class="text-body-secondary">Просмотров: {{article.views_counter}}</small>
                </p>


            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="alert alert-dark mt-4" role="alert">
    Также вы можете <a href="/editor/{{ article.pk }}" class="alert-link">добавить статью</a> и она появится в нашем блоге.
    <p class="card-text"><small class="text-body-secondary">Выполнено в рамках домашнего задания 25</small></p>
</div>