{% extends 'base_blog.html' %}

{% block title %}
{% if object %}Редактировать статью{% else %}Новая статья{% endif %}
{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-1 pb-md-4 mx-auto text-center">
    <h1 class="display-5">Удалить статью
    </h1>
    <p class="lead">Форма для заполнения данных о статье. Работает в режиме отладки</p>
</div>

<div class="container">
    <div class="card shadow-sm mb-4">
        <div class="card-header">
            <h4 class="my-1">Подтверждение удаления</h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">


                <!-- Заголовок -->
                <div class="mb-3">
                    <div class="card">
                        <p class="card-text">Вы действительно хотите удалить статью {{object.title}} ?</p>
                    </div>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                </div>

                <a class="btn btn-primary" href="/articles/">Отменить</a>
                <button type="submit" class="btn btn-primary">Удалить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
