# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# Секретный ключ для настроек проекта Django
SECRET_KEY=paste_your_key_here

DEBUG=true/false

NAME=db_name
USER=user_name
PASSWORD=your_password
HOST=host_name
PORT=your_port